* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box; }

#header {
  position: fixed;
  width: 100%;
  height: 60px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 1; }
  #header #logoHeader {
    position: absolute;
    left: 15%;
    width: 101px;
    height: 19px; }
  #header #submenu {
    position: absolute;
    right: 20%; }
    #header #submenu ul {
      font-family: 'Montserrat', sans-serif;
      list-style: none;
      display: flex;
      flex-direction: row; }
      #header #submenu ul li {
        padding: 3%; }
        #header #submenu ul li a {
          opacity: 1;
          text-align: left;
          letter-spacing: var(--unnamed-character-spacing-0);
          text-decoration: none;
          color: #CBD0D3; }
        #header #submenu ul li:hover a {
          color: #2A3037; }

#principal {
  position: relative;
  background: transparent url(../Assets/img/Viajes_Hero.jpg) 0% 0% no-repeat padding-box;
  background-size: cover;
  background-position: center;
  width: 100% auto;
  height: 40rem; }
  #principal #americaDelSur {
    position: absolute;
    top: 25%;
    left: 10%;
    width: 48%;
    height: 214px;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    padding: 3%; }
    #principal #americaDelSur #title {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: nowrap;
      border-bottom-style: solid;
      border-width: 2px;
      padding-bottom: 2%; }
      #principal #americaDelSur #title h1 {
        text-align: left;
        font-size: 2.7rem;
        text-align: left; }
    #principal #americaDelSur #subtitle h2 {
      padding-top: 2%;
      padding-bottom: 2%; }
  #principal #proximaAventura {
    background: var(--unnamed-color-2a3037) 0% 0% no-repeat padding-box;
    border: 2px dashed var(--unnamed-color-ffffff);
    background: #2A3037 0% 0% no-repeat padding-box;
    border: 2px dashed #FFFFFF;
    border-radius: 6px;
    opacity: 0.7;
    padding: 2%;
    position: absolute;
    bottom: 8%;
    right: 8%;
    width: 17rem;
    height: 10rem;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif; }
    #principal #proximaAventura h3 {
      color: #FA6980;
      margin-right: 10px;
      font-size: 1rem;
      padding-bottom: 2%; }
    #principal #proximaAventura #proxAventuraTitle {
      display: inline-flex;
      align-items: center; }
    #principal #proximaAventura h4 {
      padding-bottom: 2%; }
  #principal #lineBox {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 7%;
    left: 0%;
    width: max-content; }
    #principal #lineBox #line {
      background-color: #FA6980;
      width: 20%;
      height: 1%; }
    #principal #lineBox #number {
      background-color: #FFFFFF;
      padding: 2%;
      border-radius: 50%;
      bottom: 7%; }

#cuerpo {
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(#EBEBEB 50%, #FFFFFF 30%, #FFFFFF); }
  #cuerpo #tendencias {
    padding: 7%; }
    #cuerpo #tendencias h1 {
      color: #2A3037;
      padding-bottom: 2%; }
    #cuerpo #tendencias #cards {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 1%; }
      #cuerpo #tendencias #cards .card {
        border-radius: 7px;
        background-color: #FFFFFF;
        box-shadow: 0px 3px 6px #00000029; }
      #cuerpo #tendencias #cards .cardImg {
        border-top-left-radius: 7px;
        border-top-right-radius: 7px; }
      #cuerpo #tendencias #cards .cardBody {
        padding: 13%;
        color: #2A3037; }
        #cuerpo #tendencias #cards .cardBody .description {
          font-size: 13px; }
      #cuerpo #tendencias #cards #nuevo {
        background-color: #FA6980;
        color: #FFFFFF;
        border-radius: 7px;
        width: fit-content;
        padding: 1%;
        position: absolute;
        top: 50%; }
  #cuerpo #blog {
    padding: 7%; }
    #cuerpo #blog h1 {
      padding-bottom: 2%;
      color: #2A3037; }
    #cuerpo #blog #galleryContainer {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 2%;
      justify-content: space-between; }
      #cuerpo #blog #galleryContainer #bigFotos {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: #FFFFFF; }
        #cuerpo #blog #galleryContainer #bigFotos .bigFoto1 {
          background-image: url(../Assets/img/articulo_big_01.png);
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          position: relative;
          width: 43rem;
          height: 24rem;
          border-radius: 2%; }
        #cuerpo #blog #galleryContainer #bigFotos .bigFoto2 {
          background-image: url(../Assets/img/articulo_big_02.png);
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          position: relative;
          width: 43rem;
          height: 24rem;
          border-radius: 2%; }
        #cuerpo #blog #galleryContainer #bigFotos .bigArt {
          padding: 5%; }
        #cuerpo #blog #galleryContainer #bigFotos .bigArtTxt {
          position: absolute;
          bottom: 10%; }
      #cuerpo #blog #galleryContainer #smallFoto {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2%;
        color: #202124; }
        #cuerpo #blog #galleryContainer #smallFoto .artTitle {
          margin: 2%; }
      #cuerpo #blog #galleryContainer .timer {
        display: inline-flex;
        align-items: center; }

footer {
  padding: 5%;
  position: relative;
  background-color: #2A3037;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  footer #logoFooter {
    position: absolute;
    left: 10%; }
  footer #redes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    right: 10%; }
