* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

header {
  position: sticky;
  top: 0%;
  z-index: 1; }
  header nav {
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1; }
  header .logo {
    margin-left: 10%; }
  header .lista {
    margin-right: 10%; }

#principal {
  position: relative;
  background: transparent url(../Assets/img/Viajes_Hero.jpg) 0% 0% no-repeat padding-box;
  background-size: cover;
  background-position: center;
  width: 100% auto;
  height: 50rem; }
  #principal #americaDelSur {
    position: absolute;
    top: 25%;
    left: 10%;
    width: 48%;
    height: 20rem;
    color: #FFFFFF;
    padding: 3%; }
    #principal #americaDelSur #title {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: nowrap;
      border-bottom-style: solid;
      border-width: 2px;
      padding-bottom: 2%; }
      #principal #americaDelSur #title h1 {
        font-size: 2.5rem;
        font-weight: bold; }
    #principal #americaDelSur #subtitle h2 {
      font-size: 1.5rem;
      font-weight: bold;
      padding-top: 2%;
      padding-bottom: 2%; }
  #principal #proximaAventura {
    background: var(--unnamed-color-2a3037) 0% 0% no-repeat padding-box;
    border: 2px dashed var(--unnamed-color-ffffff);
    background: #2A3037 0% 0% no-repeat padding-box;
    border: 2px dashed #FFFFFF;
    border-radius: 6px;
    opacity: 0.7;
    padding: 2%;
    position: absolute;
    bottom: 15%;
    right: 8%;
    width: max-content;
    color: #FFFFFF; }
    #principal #proximaAventura h3 {
      font-weight: bold;
      color: #FA6980;
      margin-right: 10px;
      font-size: 1.2rem; }
    #principal #proximaAventura #proxAventuraTitle {
      display: inline-flex;
      align-items: center;
      padding-bottom: 2%; }
    #principal #proximaAventura h4 {
      padding-bottom: 2%;
      font-size: 1rem;
      font-weight: bold; }
  #principal #lineBox #line {
    background-color: #FA6980;
    width: 15rem;
    height: 0.5rem;
    position: absolute;
    bottom: 7%; }

#cuerpo {
  background-image: linear-gradient(#EBEBEB 50%, #FFFFFF 30%, #FFFFFF); }
  #cuerpo #tendencias {
    padding: 7%; }
    #cuerpo #tendencias h1 {
      font-weight: bold;
      color: #2A3037;
      padding-bottom: 2%; }
    #cuerpo #tendencias #cards {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between; }
      #cuerpo #tendencias #cards .card {
        margin-bottom: 2%;
        border-radius: 7px;
        background-color: #FFFFFF;
        box-shadow: 0px 3px 6px #00000029; }
      #cuerpo #tendencias #cards .cardImg {
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        width: 100%; }
      #cuerpo #tendencias #cards .cardBody {
        padding: 13%;
        color: #2A3037; }
        #cuerpo #tendencias #cards .cardBody h5 {
          font-weight: bold; }
        #cuerpo #tendencias #cards .cardBody .description {
          font-size: 13px; }
      #cuerpo #tendencias #cards #nuevo {
        background-color: #FA6980;
        color: #FFFFFF;
        font-size: 1rem;
        font-weight: bold;
        border-radius: 7px;
        width: fit-content;
        padding: 3%;
        position: absolute;
        top: 45%; }
  #cuerpo #blog {
    padding: 7%; }
    #cuerpo #blog h1 {
      font-weight: bold;
      padding-bottom: 2%;
      color: #2A3037; }
    #cuerpo #blog #galleryContainer {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 2%;
      justify-content: space-between; }
      #cuerpo #blog #galleryContainer #bigFotos {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: #FFFFFF;
        width: 60%; }
        #cuerpo #blog #galleryContainer #bigFotos #bigFoto1 {
          position: relative;
          background-image: url("../Assets/img/articulo_big_01.png");
          background-size: cover;
          background-position: center;
          width: 100%;
          height: 25rem;
          border-radius: 6px;
          margin-bottom: 2%; }
        #cuerpo #blog #galleryContainer #bigFotos #bigFoto2 {
          position: relative;
          background-image: url(../Assets/img/articulo_big_02.png);
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          width: 100%;
          height: 25rem;
          border-radius: 6px;
          margin-bottom: 2%; }
        #cuerpo #blog #galleryContainer #bigFotos .bigArt {
          padding: 5%; }
          #cuerpo #blog #galleryContainer #bigFotos .bigArt h3 {
            font-weight: bold;
            font-size: 1rem; }
          #cuerpo #blog #galleryContainer #bigFotos .bigArt .bigArtTxt {
            position: absolute;
            bottom: 10%; }
            #cuerpo #blog #galleryContainer #bigFotos .bigArt .bigArtTxt h2 {
              font-weight: bold; }
      #cuerpo #blog #galleryContainer #smallFoto {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: #202124; }
        #cuerpo #blog #galleryContainer #smallFoto .galleryImg {
          margin-bottom: 2%; }
        #cuerpo #blog #galleryContainer #smallFoto .artTitle {
          margin: 2%; }
      #cuerpo #blog #galleryContainer .timer {
        display: inline-flex;
        align-items: center; }
        #cuerpo #blog #galleryContainer .timer p {
          margin-bottom: 0; }

footer {
  padding: 5%;
  position: relative;
  background-color: #2A3037;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  footer #logoFooter {
    position: absolute;
    left: 10%; }
  footer #redes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    right: 10%; }
    footer #redes img {
      width: 1.3rem;
      margin-right: 1rem; }

@media only screen and (max-width: 800px) {
  #principal #americaDelSur {
    width: 100%;
    left: 0px; }
    #principal #americaDelSur #subtitle p {
      display: none; }
  #proximaAventura {
    display: none; }
  #tendencias #cards .card2, #tendencias #cards .card3 {
    display: none; }
  #bigFotos {
    width: 100% !important; }
  #smallFoto .galleryImg {
    display: none; }
  footer {
    padding-bottom: 10%; } }
