*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    position: sticky;
    top: 0%;
    z-index: 1;
    nav{
       background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
       background: #FFFFFF 0% 0% no-repeat padding-box;
       box-shadow: 0px 3px 6px #00000029;
       opacity: 1;
    }
    .logo{
        margin-left: 10%;
    }
    .lista{
        margin-right: 10%;
    }
}

#principal{
    position: relative;
    background: transparent url(../Assets/img/Viajes_Hero.jpg) 0% 0% no-repeat padding-box;
    background-size: cover;
    background-position: center;
    width: 100% auto;
    height: 50rem ;
    #americaDelSur{
        position: absolute;
        top: 25%;
        left: 10%;
        width: 48%;
        height: 20rem;
        color: #FFFFFF;
        padding: 3%;
        #title{
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: nowrap;
            border-bottom-style: solid;
            border-width: 2px;
            padding-bottom: 2%;
            h1{
                font-size: 2.5rem;
                font-weight: bold;
            }
        } 
        #subtitle{
            h2{
                font-size: 1.5rem;
                font-weight: bold;
                padding-top: 2%;
                padding-bottom: 2%;
            }
        } 
    }
    #proximaAventura{
        background: var(--unnamed-color-2a3037) 0% 0% no-repeat padding-box;
        border: 2px dashed var(--unnamed-color-ffffff);
        background: #2A3037 0% 0% no-repeat padding-box;
        border: 2px dashed #FFFFFF;
        border-radius: 6px;
        opacity: 0.7;
        padding: 2%;
        position: absolute;
        bottom:  15%;
        right: 8%;
        width: max-content;
        color: #FFFFFF;
        h3{
            font-weight: bold;
            color: #FA6980;
            margin-right: 10px;
            font-size: 1.2rem;
        }
        #proxAventuraTitle{
            display:inline-flex;
            align-items: center;
            padding-bottom: 2%;
        }
        h4{
            padding-bottom: 2%;
            font-size: 1rem;
            font-weight: bold;
        }
    }

    #lineBox{
        #line{
            background-color: #FA6980;
            width: 15rem;
            height: 0.5rem;
            position: absolute;
            bottom: 7%;
        } 
    }
}

#cuerpo{
    background-image: linear-gradient(#EBEBEB 50%, #FFFFFF 30%, #FFFFFF);  
    #tendencias{
        padding: 7%;
            h1{
               font-weight: bold;
               color: #2A3037; 
               padding-bottom: 2%;
            }
            #cards{
                position: relative;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                .card{
                    margin-bottom: 2%;
                    border-radius: 7px;
                    background-color: #FFFFFF;
                    box-shadow: 0px 3px 6px #00000029;
                }
                .cardImg{
                    border-top-left-radius: 7px;
                    border-top-right-radius: 7px;
                }
                .cardBody{
                    padding: 13%;
                    color: #2A3037; 
                    h5{
                        font-weight: bold;
                    }
                    .description{
                        font-size: 13px;
                    }
                }
                #nuevo{
                    background-color: #FA6980;
                    color: #FFFFFF;
                    font-size: 1rem;
                    font-weight: bold;
                    border-radius: 7px;
                    width: fit-content;
                    padding: 3%;
                    position: absolute;
                    top: 45%;
                }
            }
        }
        #blog{
            padding: 7%;
                h1{
                    font-weight: bold;
                    padding-bottom: 2%;
                    color: #2A3037; 
                 }
                 #galleryContainer{
                     display: flex;
                     flex-direction: row;
                     flex-wrap: wrap;
                     gap: 2%;
                     justify-content: space-between;
                     #bigFotos{
                         position: relative;
                         display: flex;
                         flex-direction: column;
                         justify-content: space-between;
                         color: #FFFFFF;
                         #bigFoto1{
                             background-image: url(../Assets/img/articulo_big_01.png);
                             background-size:cover;
                             background-position: center;
                             background-repeat: no-repeat;
                             position: relative;
                             width: 43rem;
                             height: 24rem;
                             border-radius: 2%;
                             margin-bottom: 2%;
                         }
                         #bigFoto2{
                             background-image: url(../Assets/img/articulo_big_02.png);
                             background-size:cover; 
                             background-position: center;
                             background-repeat: no-repeat;
                             position: relative;
                             width: 43rem;
                             height: 24rem;
                             border-radius: 2%;
                             margin-bottom: 2%;
                         }
                         .bigArt{
                             padding: 5%;
                            h3{
                                font-weight: bold;
                                font-size: 1rem;
                            }
                            .bigArtTxt{
                                position: absolute;
                                bottom: 10%;
                                h2{
                                    font-weight: bold;
                                }
                            }
                         }
                        
                     }
                     #smallFoto{
                         position: relative;
                         display: flex;
                         flex-direction: column;
                         justify-content: space-between;   
                         color: #202124;
                         .galleryImg{
                             margin-bottom: 2%;
                         }
                         .artTitle{
                            margin: 2%;
                         }
                     }
                     .timer{
                         display:inline-flex;
                         align-items: center;
                         p{
                             margin-bottom: 0;
                         }
                     }
                }
            
        }   
}

footer{
    padding: 5%;
    position: relative;
    background-color: #2A3037;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    #logoFooter{
        position: absolute;
        left: 10%;
    }
    #redes{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        right: 10%;
        img{
            width: 1.3rem;
            margin-right: 1rem;
        }
    }
}

@media only screen and (max-width: 800px){
    #americaDelSur{
        width: 10%;
    }
}

